<div class="msg {% if message.own %}msg-own{% endif %} {% if message.start %}msg-start{% endif %}" id="message-{{ message.id }}">
  {% if not message.own %}
  <span class="{% if message.show_time %}visible{% else %}invisible{% endif %}">{{<avatar name={message.author} color={message.color} size="sm"/>}}</span>
  {% endif %}
  <div class="msg-body">
    {% if message.start and not message.own %}<span class="msg-name">{{ message.author }}</span>{% endif %}
    <div class="bubble">{{ message.body }}</div>
    {% if message.show_time %}<span class="msg-time">{{ message.at }}</span>{% endif %}
  </div>
</div>
